@import 'tailwindcss';

@config "../tailwind.config.js";

:root {
	--primary-color: #51cedf;
	--secondary-color: #262626;
	--text-color: #ffffff;
	--background-color: #1a1a1a;
	--header-dark-color: #51cedf;
	--header-light-color: #054c56;
	--subtext-light: #494949;
	--subtext-dark: #a0a0a0;
}

/* Custom scrollbar for sidenav with auto-hide (width trick) */
.sidenav-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #51cedf #262626;
	scrollbar-gutter: stable both-edges;
}
.sidenav-scrollbar::-webkit-scrollbar {
	width: 0px;
	background: #262626;
}
.sidenav-scrollbar:hover::-webkit-scrollbar {
	width: 8px;
}
.sidenav-scrollbar::-webkit-scrollbar-thumb {
	background: #51cedf;
	border-radius: 8px;
}
.sidenav-scrollbar::-webkit-scrollbar-track {
	background: #262626;
	border-radius: 8px;
}

/* Hide element below 900px */
.hide-below-900 {
	display: block;
}
@media (max-width: 899px) {
	.hide-below-900 {
		display: none !important;
	}
}
.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib {
	display: none !important;
}
